In [1]:
import pandas as pd
#pd.options.display.max_rows = 6

In [2]:
text = {"text" : ["서울특별시 강동구 구천면로 171 376 남단사거리	", \
                  "서울특별시 강동구 올림픽로 702 265", \
                  "서울특별시 마포구 월드컵로 72 475-54", \
                  "서울특별시 마포구 월드컵로 79 378-18	"]}

In [3]:
df = pd.DataFrame(data=text)
df

                             text
0  서울특별시 강동구 구천면로 171 376 남단사거리\t
1          서울특별시 강동구 올림픽로 702 265
2        서울특별시 마포구 월드컵로 72 475-54
3      서울특별시 마포구 월드컵로 79 378-18\t

### .str.extract 함수 활용

- re 모듈을 활용한다. 컴파일 옵션 활용 가능
- 기본 패턴 : r"(   pattern   )"   : 최소한 하나의 괄호 ( capturing group )이 있어야 한다.

In [4]:
df["gu"] = df.text.str.extract(r"([^\s]+구)")
df

                             text   gu
0  서울특별시 강동구 구천면로 171 376 남단사거리\t  강동구
1          서울특별시 강동구 올림픽로 702 265  강동구
2        서울특별시 마포구 월드컵로 72 475-54  마포구
3      서울특별시 마포구 월드컵로 79 378-18\t  마포구

참고 : 괄호를 여러 개 사용하는 경우, 리스트처럼 indexing이 필요

?:을 활용하면 no capturing group을 할 수 있음

In [5]:
df.text.str.extract(r"(.+시)\s([^\s]+구)")[0]

0    서울특별시
1    서울특별시
2    서울특별시
3    서울특별시
Name: 0, dtype: object

In [6]:
df.text.str.extract(r"(.+시)\s([^\s]+구)")[1]

0    강동구
1    강동구
2    마포구
3    마포구
Name: 1, dtype: object

In [7]:
# ?: 활용 예시 (시 부분을 제외 시킴)
df.text.str.extract(r"(?:.+시)\s([^\s]+구)")

     0
0  강동구
1  강동구
2  마포구
3  마포구