In [1]:
import pandas as pd
pd.options.display.max_rows=8
import seaborn as sns

In [2]:
# SAMPLE DATA
df = sns.load_dataset('iris')

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### 단순 계산한 컬럼 생성

In [4]:
df['petal_cal'] = df['petal_length'] / df['petal_width']

In [5]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species  petal_cal
0           5.1          3.5           1.4          0.2  setosa        7.0
1           4.9          3.0           1.4          0.2  setosa        7.0

### 특정 조건을 만족하는 지 T/F 컬럼 생성

In [6]:
import numpy as np

In [7]:
df['is_ok'] = np.where(df['petal_length']>6, True, False)

In [8]:
df.head(2)

,sepal_length,sepal_width,petal_length,petal_width,species,petal_cal,is_ok
0,5.1,3.5,1.4,0.2,setosa,7.0,False
1,4.9,3.0,1.4,0.2,setosa,7.0,False

In [9]:
df['is_ok'].value_counts()

False    141
True       9
Name: is_ok, dtype: int64