In [21]:
import pandas as pd
pd.options.display.max_rows=8
import seaborn as sns

In [19]:
df = sns.load_dataset('iris')

## 타입

출처 : http://pbpython.com/pandas_dtypes.html

| Pandas dtype | Python type | NumPy type | Usage |
|----------------|--------------|--------------|--------|
| object | str | string_, unicode_ | Text |
int64|int|int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64|Integer numbers
float64|float|float_, float16, float32, float64|Floating point numbers
bool|bool|bool_|True/False values
datetime64|NA|datetime64[ns]|Date and time values
timedelta[ns]|NA|NA|Differences between two datetimes
category|NA|NA|Finite list of text values

### 타입 변경

In [ ]:
df['컬럼명'].astype('int16')
df['컬럼명'].astype('float32')
df['컬럼명'].astype('str') # 문자열 지정은 str로 한다. 보여지는 값은 object

#### category : 지정된 값으로만 채워질 수 있는 타입 ( 나머지는 NaN 처리 ) / 숫자, 문자 가능
 - R에서 factor와 같음

In [ ]:
df['컬럼명'].astype('category')

In [33]:
# categories가 지정할 값, 나머지는 NaN 처리
pd.Categorical(['a','b','c','d','e'], categories=['a','b'], ordered=True)

[a, b, NaN, NaN, NaN]
Categories (2, object): [a < b]

#### 다음과 같은 방식으로 타입 캐스팅

In [35]:
df['sepal_length'] = df['sepal_length'].astype('int8')