## 타입

출처 : http://pbpython.com/pandas_dtypes.html

| Pandas dtype | Python type | NumPy type | Usage |
|----------------|--------------|--------------|--------|
| object | str | string_, unicode_ | Text |
int64|int|int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64|Integer numbers
float64|float|float_, float16, float32, float64|Floating point numbers
bool|bool|bool_|True/False values
datetime64|NA|datetime64[ns]|Date and time values
timedelta[ns]|NA|NA|Differences between two datetimes
category|NA|NA|Finite list of text values

pandas는 기본 로딩 시 표와 같은 데이터 타입을 활용 // 최대값을 활용하기 때문에 비효율적 // 타입 변경이 필요

## 타입 변경

### 1. Numeric Type

#### int, float 데이터 타입의 경우, Numpy type으로 변경이 가능하다. ( 메모리 최적화 활용 )

In [34]:
df['sepal_length'] = df['sepal_length'].astype('uint8')
df['sepal_width'] = df['sepal_width'].astype('float16')

# df['컬럼명'].astype('타입명')

**to_numeric 활용**

astype은 타입변환에 문제가 생기면 오류를 발생시키지만 errors='coerce'를 선택하면 에러없이 그 값은 Nan으로 바뀐다.

downcast는 4가지 중 선택하면 최소한의 데이터 타입으로 선택한다??

In [81]:
# errors : {'ignore', 'raise', 'coerce'}
# downcast : {'integer', 'signed', 'unsigned', 'float' }
df['petal_length'] = pd.to_numeric(df['petal_length'], errors='coerce', downcast='integer')

### 2. String Type

문자열을 object 타입이라고 한다. default 값

In [29]:
df['species'] = df['species'].astype('object')

### 3. Category : 지정된 값으로만 채워질 수 있는 타입

( 나머지는 NaN 처리 ) / 숫자, 문자 가능 / R에서 factor와 같음

*object 타입을 category로 바꾸면 메모리 절약에 큰 효과가 있다.* 단, unique한 값이 50% 이상이면 역효과

In [32]:
df['species'] = df['species'].astype('category')

In [33]:
df.species

0         setosa
1         setosa
2         setosa
3         setosa
         ...
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: category
Categories (3, object): [setosa, versicolor, virginica]

In [23]:
# 임의로 생성 예시
## categories가 지정할 값, 나머지는 NaN 처리
pd.Categorical(['a','b','c','d','e'], categories=['a','b'], ordered=True)

[a, b, NaN, NaN, NaN]
Categories (2, object): [a < b]

### 4. Time Type

date 타입이 object 타입으로 로드되는 경우가 있을 때, 활용할 수 있다.

In [47]:
import pandas as pd

In [48]:
date_df = pd.DataFrame([['2019-01-01 01:00','2019-02-03 05:00'],[100,200]], columns=['date', 'value'])

In [49]:
date_df.dtypes # object 확인

date     object
value    object
dtype: object

format은 현재 데이터로 사용되는 형식을 입력한다. 성능 향상을 위해 반드시 입력하도록 한다.

In [50]:
## 현재 YYYY-mm-dd 이므로 %Y-%m-%d ( 반드시 %가 들어간 형식으로 )
date_df['date'] = pd.to_datetime(date_df['date'], format='%Y-%m-%d %H:%M')

In [51]:
date_df['date']

0   2019-01-01 01:00:00.000000000
1   1970-01-01 00:00:00.000000100
Name: date, dtype: datetime64[ns]

특정 단위로 데이터 추출 가능

In [52]:
date_df['date'][0].month
date_df['date'][0].hour
date_df['date'][0].minute

0

date type은 index컬럼으로 변경하여 활용하면 속도 향상

In [53]:
date_df.set_index('date',inplace=True)
date_df

                                          value
date
2019-01-01 01:00:00.000000000  2019-02-03 05:00
1970-01-01 00:00:00.000000100               200

In [57]:
date_df.index.month # vectorization

Int64Index([1, 1], dtype='int64', name='date')