#### - [컬럼 이름 변경하기](#컬럼-이름-변경하기)
#### - [컬럼 삭제하기](#컬럼-삭제하기)
#### - [컬럼 추가하기](#컬럼-추가하기)
#### - [컬럼명 활용한 필터링(정규식)](#컬럼명-활용한-필터링(정규식))

In [3]:
import pandas as pd
pd.options.display.max_rows=8
import seaborn as sns

In [4]:
# SAMPLE DATA
df = sns.load_dataset('iris')

## 컬럼 이름 변경하기

특정 컬럼명 변경

In [21]:
df.rename(columns={'species': 'changed'}, inplace=True)

In [22]:
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width changed
0           5.1          3.5           1.4          0.2  setosa

모든 컬럼 한 번에 변경

In [11]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

공통적인 부분 변경

In [23]:
df.columns = df.columns.str.replace('_','-')
df.columns

Index(['sepal-length', 'sepal-width', 'petal-length', 'petal-width',
       'changed'],
      dtype='object')

## 컬럼 삭제하기

inplace=True : df 변수는 유지하면서 데이터만 삭제

In [16]:
df.drop(columns=['sepal_length', 'sepal_width'], inplace=True)

In [5]:
df

     petal_length  petal_width    species
0             1.4          0.2     setosa
1             1.4          0.2     setosa
2             1.3          0.2     setosa
3             1.5          0.2     setosa
..            ...          ...        ...
146           5.0          1.9  virginica
147           5.2          2.0  virginica
148           5.4          2.3  virginica
149           5.1          1.8  virginica

[150 rows x 3 columns]

## 컬럼 추가하기

### 단순 계산한 컬럼 생성

In [7]:
df['petal_cal'] = df['petal_length'] / df['petal_width']

In [8]:
df.head(2)

   petal_length  petal_width species  petal_cal
0           1.4          0.2  setosa        7.0
1           1.4          0.2  setosa        7.0

### 특정 조건을 만족하는 지 T/F 컬럼 생성

In [9]:
import numpy as np

In [10]:
df['is_ok'] = np.where(df['petal_length']>6, True, False)

In [11]:
df.head(2)

   petal_length  petal_width species  petal_cal  is_ok
0           1.4          0.2  setosa        7.0  False
1           1.4          0.2  setosa        7.0  False

In [12]:
df['is_ok'].value_counts()

False    141
True       9
Name: is_ok, dtype: int64

## 컬럼명 활용한 필터링(정규식)

In [6]:
df.filter(like='length', axis=1)

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
..            ...           ...
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

In [7]:
df.filter(regex='width$', axis=1)

     sepal_width  petal_width
0            3.5          0.2
1            3.0          0.2
2            3.2          0.2
3            3.1          0.2
..           ...          ...
146          2.5          1.9
147          3.0          2.0
148          3.4          2.3
149          3.0          1.8

[150 rows x 2 columns]